.n-active {
    fill: #fff59d;
}

.n-accept {
    fill: #1de9b6;
}

.n-reject{
    fill: #f4511e;
}

.t-active {
    background-color: #fff59d;
}

.t-accept {
    background-color: #1de9b6;
}

.t-reject{
    background-color: #f4511e;
}

.g-transition {
    transition: all .2s ease-in-out;
}

#fsm > g > ellipse:nth-child(78),
#tm > g > ellipse:nth-child(112) {
    fill: #1de9b6;
}

#tm > g > ellipse:nth-child(102) {
    fill: #f4511e;
}
